{
  "config": {
    "task_name": "image",
    "run_duration": 15,
    "headless": false,
    "use_cookies": true,
    "cookie_expire_days": 30
  },

  "users": [
    {
      "site": "openi",
      "username": "OpenI用户名1",
      "password": "密码1"
    },
    {
      "site": "openi",
      "username": "OpenI用户名2",
      "password": "密码2"
    },
    {
      "site": "linuxdo",
      "email": "LinuxDO邮箱@example.com",
      "password": "密码"
    },
    {
      "site": "anyrouter",
      "email": "AnyRouter邮箱@example.com",
      "password": "密码"
    }
  ]
}
